body{
    margin:0px auto;
}
.container{
    display:grid;
    grid-template-rows:repeat(18,50px);
    grid-template-columns:repeat(18,1fr);
    width:90%;
    margin:4rem auto;
    grid-gap:10px;
    min-width:1214px;
    max-height:1015px;
    margin-bottom:150px;
}
.name nav{
    grid-column:span 10;
    background-color:black;
    width:100%;
}
    .name nav ul {
        display: flex;
        align-items: center;
        height:50px;
        margin-top:75px;
        margin-bottom:75px;
    }
.name li{
    flex-basis:15%;
}
.name img{
    height:150px;
    width:auto;
    border-radius:50%;
    border:10px solid black;
}
.twoDimensional{
    grid-column:span 9;
    grid-row:span 9;
    border-radius:2%;
    border:5px solid black;
}
.pic {
    grid-column: span 3;
    grid-row: span 3;
    border-radius: 2%;
    border: 5px solid black;
}
.about {
    grid-column: span 6;
    grid-row: span 6;
    border-radius: 2%;
    border: 5px solid black;
}
.threeDimensional {
    grid-column: span 9;
    grid-row: span 9;
    border-radius: 2%;
    border: 5px solid black;
}
.bottom nav {
    background-color: black;
    width: 100%;
    bottom:0;
    position:fixed;
}
    .bottom nav ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height:15px;
    }
        .bottom nav ul li {
            text-align: center;
            flex-basis:10%;
        }

        .twitter{
            display:flex;
            align-items:center;
            justify-content:center;
        }
